<div class="view">
    <div class="container">
        <header>
            <h3>About</h3>
        </header>
        <br />
        <div class="row">
            <div class="span2">Created by:</div>
            <div class="span9"><a href="http://goldytech.wordpress.com" target="_blank">goldytech</a></div>             
        </div>
        <br />
        
        <div class="row">
            <div class="span2">GitHub:</div>
            <div class="span9"><a href="https://github.com/goldytech/QTecApp" target="_blank">https://github.com/goldytech/QTecApp</a></div>   
        </div>
    </div>
</div>

