<div class="view">
    <div class="container">
        <header>
            <h3>{{title}} Employee</h3>
        </header>
    </div>
    <button data-ng-click="saveEmployee()">Save</button>
    <tabset>
        <tab heading="Personal">
            <div ng-include="'/app/partials/emppersonal.html'"></div>
        </tab>
        <tab heading="Known Languages">
            <div ng-include="'/app/partials/emplanguages.html'"></div>
        </tab>
    </tabset>
</div>



